* {
  background-color: #028090;
  font-family: 'Poppins', sans-serif;
}
.hover-eff {
  background-color: aqua;
}
main{
    margin: 0 auto;
    background-color: #e8f1f2;
}
#keyboard {
  display: grid;
  height: 450px;
  margin: 15px;
  grid-template-columns: repeat(4, 90px);
}
#clear, #backspace{
    background-color: #F45B69;
}
#exp, #divide, #multiply, #sub, #add, #equal{
    background-color: #114B5F;
}
#ex, #d, #m, #s, #a, #e, #bkp, #tras{
    background-color: inherit;
}
.f a:hover{
    color: #1d2d44;
    text-decoration: underline;
    text-decoration-color: #F45B69;
    text-decoration-thickness: 2px;
  }
.butt {
  height: 90px;
  background-color: #028090;
  font-size: 30px;
  color: #e8f1f2;
  cursor: pointer;
  border: solid #e8f1f2 2px;
  width: 90px;
}
#add {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 180px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f{
    color: #028090;
    background-color: #e8f1f2;
    font-weight: 700;
}
.f a{
    color: #114B5F;
    background-color: #e8f1f2;
    text-decoration: none;
}
footer{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #e8f1f2;
    width: 390px;
    padding-bottom: 20px;
}
#output {
  background-color: #028090;
  display: grid;
  color: #e8f1f2;
  justify-content: flex-end;
  align-items: center;
  justify-items: flex-end;
  height: 90px;
  margin-left: 15px;
  margin-top: 15px;
  width: 360px;
}
#bel{
    padding-bottom: 15px;
    font-size: 30px;
}
#abv, #bel{
    padding-right: 15px;
    align-self: end;
}